.cart {
  display: flex;
  background-color: #eee;
  justify-content: space-between;
  padding: 1rem;
}

.cart-items__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart-items {
  width: 70%;
  padding: 1rem;
  background-color: #fff;
}

.cart-item__card__title,
.cart-item__card__price {
  font-size: 1.3rem;
  /* font-weight: bold; */
}
.cart-item__card {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  margin-bottom: 5px;
  padding: 0.5rem;
  justify-content: space-between;
}

.cart-item__card__amount {
  width: 3rem;
  padding-left: 5px;
  margin-left: 5px;
}

.cart-item__left {
  display: flex;
}

.cart-item__image {
  width: 11rem;
  margin-right: 1rem;
}

.cart-item__card__total-price {
  text-align: right;
}

.cart__aside {
  width: 28%;
  background-color: #fff;
  padding: 1rem;
  height: 12rem;
}

.cart__aside .btn-primary {
  margin-top: 1rem;
}

.cart__aside .btn-secondary,
.cart__aside input {
  height: 30px;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  margin-top: -3px;
}

.cart__aside input {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 9rem;
}

.cart__aside__cep-message {
  color: rgb(0, 74, 104);
  font-size: 0.7rem;
  display: block;
  min-height: 2rem;
  margin: 0;
  padding: 0;
  line-height: 10px;
}
